# Misc libraries
av==13.1.0
cycler==0.12.1
imageio==2.36.0
kiwisolver==1.4.7
lapx>=0.5.2
markupsafe==2.1.5
matplotlib==3.9.2
numpy==1.26.4
pandas
pillow==10.3.0
psutil==6.0.0
pymongo==4.10.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pyyaml==6.0.2
requests>=2.32.3
seaborn==0.13.2
setuptools>=72.1.0
timm==1.0.9
tqdm
yacs==0.1.8

# Libraries required for the Vehicle Re-Identification System
pytorch-metric-learning==2.6.0

# Libraries required for the Tracking System (YOLO)
ultralytics==8.3.51
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84

# Libraries required for the correct metrics calculation
motmetrics==1.4.0
